#aHome {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("drive.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

.imgcontainer {
	margin-top: 5vh;
	text-align: center;
	margin-bottom: 5vh;
}

.imgcontainer .logo {
    width: 600px;
}

.menu-bar {
	width: 90%;
	margin: auto;
}

.form {
	width: 85%;
	margin: auto;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	min-height: 70vh;
	padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
}
  
li {
    float: right;
}

li a, .selectView {
    /*float: left; */
    text-align: center;
    padding: 12px 16px; 
}
  
li a, .dropbtn {
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(82, 167, 223);
}
  
li.dropdown {
  display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {background-color: #f1f1f1;}
  
.dropdown:hover .dropdown-content {
    display: block;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding 5px;
}

th {
	text-align: left;
	width:33.33%;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
	column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
} 